/* общие стили для main */
main {
    width: 100vw;
}

h1 {
    width: auto;
    height: 4vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 56px;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h4 {
    padding: 1vw 1vw 1vw 1vw;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 1vw;
    color: #333333;
}

p {
    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: 0.25px;
    color: #868686;
}

.breadcrumbs {
    width: auto;
    height: 18px;
    position: absolute;
    margin-left: 10vw;
    top: 92px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.breadcrumbs_main {
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(51, 51, 51, 0.7);
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.arrov {
    width: 16px;
    height: 16px;
    flex: none;
    flex-grow: 0;
}

.main__blog {
    width: auto;
    height: 56px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-left: 10vw;
    top: 140px;
}

.main__wrapper-button {
    width: 90vw;
    height: 32px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    left: 10vw;
    top: 228px;
}

.main__button {
    width: auto;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    flex-direction: row;
    padding: 6px 8px;
    gap: 4px;
    background-color: #FFFFFF;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 20px;
    align-items: center;
    color: #333333;
}

.main__button:hover {
    border: 2px solid #16C8BB;

}

.article_img {
    position: relative;
    right: 0%;
    top: -0.2%;
    bottom: 48.1%;
    border-radius: 16px 16px 0px 0px;
}

.cont__text {
    box-sizing: border-box;
    right: 0px;
    top: 18vw;
    bottom: 0px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__card {
    width: 80vw;
    margin-top: 334px;
    margin-left: 10vw;
}

.article {
    width: 41vw;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button_on_image {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
}

.button_article {
    margin-top: 1vw;
    margin-left: 1vw;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

/* стили для брейкпоинтов */
@media (max-width:320px) {
    .main__wrapper-button {
        flex-wrap: nowrap;
        overflow-x: scroll;
        top: 25%;
    }

    .main__button {
        height: 10px;
    }

    .main__blog {
        top: 100px;
    }

    .arrov {
        margin-top: -1vw;
    }

    .main__card {
        width: 80vw;
        margin-top: 55vw;
        margin-left: 10vw;
    }

    .article_img {

        width: 80vw;
        margin-top: 8vw;
    }

    .cont__text {
        height: 35vw;
        width: 80vw;
    }

    .main__card2 {
        margin-left: 10vw;
    }

    .text {
        font-size: 3vw;
        line-height: 3vw;
        margin-bottom: 2vw;
    }

    .date {
        font-size: 2vw;
        margin-top: 2vw;
    }

    .main__button_more {
        display: none;
    }

    .button_article {
        margin-top: 10vw;
        margin-left: 2vw;
    }

    .main__button,
    .button_on_image {
        font-size: 2vw;
    }
}

@media (min-width:321px) and (max-width:414px) {
    .main__wrapper-button {
        flex-wrap: nowrap;
        overflow-x: scroll;
        top: 140px;
    }

    .main__button {
        height: 20px;
    }

    .main__blog {
        top: 100px;
    }

    .arrov {
        width: 8px;
        height: 8px;
        margin-top: 5%;
    }

    .main__card {
        width: 80vw;
        margin-top: 40vw;
        margin-left: 10vw;
    }

    .article_img {

        width: 80vw;
        margin-top: 8vw;
    }

    .cont__text {
        height: 35vw;
        width: 80vw;
    }

    .main__card2 {
        margin-left: 10vw;
    }

    .text {
        font-size: 3vw;
        line-height: 3vw;
        margin-bottom: 2vw;
    }

    .date {
        font-size: 2vw;
        margin-top: 2vw;
    }

    .main__button_more {
        display: none;
    }

    .button_article {
        margin-top: 10vw;
        margin-left: 2vw;
    }

    .main__button,
    .button_on_image {
        font-size: 2vw;
    }

}

@media (min-width:415px) and (max-width:768px) {
    .main__article_first-block {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2vw;
    }

    .main__button {
        font-size: 2vw;
    }

    .date {
        margin-top: 1.5vw;
        font-size: 2vw;
    }

    .cont__text {
        width: 80vw;
        height: 18vw;
        margin-bottom: 2vw;
    }

    main {
        max-width: 768px;
    }

    .main__card2 {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin-top: 2vw;
        margin-left: 10vw;
        gap: 1vw;
    }

    .article_img {
        width: 80vw;
        height: 40vw;
    }

    .article_img2 {
        width: 38vw;
        height: 20vw;
    }

    .cont__text2 {
        width: 38vw;
    }

    .text {
        font-size: 2vw;
        line-height: 2vw;
    }

    .text2 {
        font-size: 1.5vw;
        line-height: 1.3vw;

    }

    .date2 {
        font-size: 1.5vw;
        margin-top: 3vw;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main__card3 {
        margin-left: -6vw;
    }

    .main__button_more {
        display: none;
    }

}

@media (min-width:769px) and (max-width: 1024px) {
    .main__article_first-block {
        width: auto;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2vw;

    }

    .article_img {
        height: 18vw;
        width: 41vw;
    }

    .cont__text {
        width: 41vw;
        height: 18vw;
    }

    .date {
        padding-top: 6vw;
    }

    .main__card2 {
        width: 80vw;
        margin-left: 10vw;
        padding-top: 40vw;
        gap: 1.5vw;
        display: flex;
        flex-direction: row;
    }

    .article2,
    .article_img2,
    .cont__text2 {

        width: 27vw;
    }

    .date2 {
        margin-top: -1vw;
    }

    .main__card3 {
        padding-top: 4vw;
    }

    .main__button_more {
        height: 3vw;
        width: 15vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 8px;

        border-style: none;
        background: #35B3A9;
        border-radius: 4px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin: 5vw 45vw 10vw;
    }

    .button_on_image {
        font-size: 1vw;
    }
}

@media (min-width:1025px) {
    .main__article_first-block {
        min-width: 1025;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2vw;
    }

    .cont__text {
        width: 41vw;
        height: 18vw;
    }

    .date {
        padding-top: 6vw;
    }

    .main__card2 {
        width: 80vw;
        margin-left: 10vw;
        padding-top: 40vw;
        gap: 1.5vw;
        display: flex;
        flex-direction: row;


    }

    .article2,
    .article_img2,
    .cont__text2 {

        width: 27vw;
    }

    .date3 {
        margin-top: -1vw;
    }

    .main__card3 {
        padding-top: 4vw;
    }

    .date4 {
        margin-top: -1vw;
    }

    .main__button_more {
        height: 3vw;
        width: 15vw;
        left: 44vw;
        top: 143vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        gap: 8px;
        position: absolute;
        border-style: none;
        background: #35B3A9;
        border-radius: 4px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }

}